.container {
  padding-top: 3rem;
  width: 100%;
  padding-bottom: 5rem;

  .avatar {
    display: flex;
    align-items: center;

    .avatar_img {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      border: 1px solid #f6f6f6;
      overflow: hidden;
      margin-right: 0.5rem;
    }
  }

  .search {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: constant(safe-area-inset-top) !important;
    padding-top: env(safe-area-inset-top) !important;
  }

  .list_item {
    padding: 0 0.3rem;
    background: #fff;

    .list_item_en {
      margin-bottom: 0.4rem;
      font-weight: bold;
      color: #ff6e27;
    }

    .list_item_button {
      margin: auto 0 auto auto;
      overflow: auto;
    }

    .list_item_desc {
      color: #666;
      margin-top: 0.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .list_item_img {
      height: 2.5rem;
      width: 2.5rem;
      border: 1px solid #f6f6f6;
      border-radius: 12px;
      overflow: hidden;
      flex-shrink: 0;
    }
  }
}

.flex {
  display: flex;
  padding: 0.6rem;
}
